.main {
    width: clamp(300px,80vw, 1200px);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2rem);
}

.section {
    width: var(--section-width);
    padding: var(--section-padding);
}
