{% from 'components/prediction-addon.html' import prediction %}

{% macro game_card(game, data) %}
<div class="game-card">

    <div class="game-teams">

        <div class="home">
            <span class="team-name">
                {{ game.homeTeam }}
            </span>

            <span class="team-score">
                {{ game.homeScore }}
            </span>
        </div>

        <div class="score">
            -
        </div>

        <div class="away">
            <span class="team-score">
                {{ game.awayScore }}
            </span>

            <span class="team-name">
                {{ game.awayTeam }}
            </span>
        </div>

    </div>
    
    {% if game["start-date"] or game.status or game.location %}
        <div class="game-info">

            {% if game["start-date"] %}
                <span class="game-date">
                    {{ game["start-date"] }}
                </span>
            {% endif %}

            {% if game.status %}
                <span class="game-status {{ game.status }}">
                    {{ game.status }}
                </span>
            {% endif %}

            {% if game.location %}
                <a href="https://www.google.com/maps/search/?api=1&query={{game.location|urlencode}}" class="game-location">
                    📍 {{ game.location }}
                </a>
            {% endif %}

        </div>
    {% endif %}
    
    {% if data.predictions %}
        {{ prediction(game) }}
    {% endif %}

    {% if 'tournament.edit_games' in data.permissions['tournaments'].get(data.tournament.id|string, []) %}
        <a href="{{ url_for('edit_game', game_id = game.id ) }}" class="btn btn-primary">edit game</a>
    {% endif %}
</div>
{% endmacro %}