{% macro game_card(game) %}
<div class="game-card">

    <div class="game-teams">

        <div class="game-team">
            <span class="team-name">
                {{ game.home_team }}
            </span>

            <span class="team-score">
                {{ game.home_score }}
            </span>
        </div>

        <div class="game-score">
            -
        </div>

        <div class="game-team">
            <span class="team-score">
                {{ game.away_score }}
            </span>

            <span class="team-name">
                {{ game.away_team }}
            </span>
        </div>

    </div>

    {% if game["start-date"] or game.status or game.location %}
        <div class="game-info">

            {% if game["start-date"] %}
                <span class="game-date">
                    {{ game["start-date"] }}
                </span>
            {% endif %}

            {% if game.status %}
                <span class="game-status">
                    {{ game.status }}
                </span>
            {% endif %}

            {% if game.location %}
                <a href="https://www.google.com/maps/search/?api=1&query={{game.location|urlencode}}" class="game-location">
                    📍 {{ game.location }}
                </a>
            {% endif %}

        </div>
    {% endif %}

</div>
{% endmacro %}