{% macro game_card(game) %}
<div class="game">

    <div class="team">
        {{ game.home_team }}
    </div>

    <div class="game-score">
        {{ game.home_score }} - {{ game.away_score }}
    </div>

    <div class="team">
        {{ game.away_team }}
    </div>

    <div class="game-info">
        {% if game["start-date"] %}
            <div class="start-date">
                {{ game["start-date"] }}
            </div>
        {% endif %}

        {% if game.status %}
            <div class="status">
                {{ game.status }}
            </div>
        {% endif %}

        {% if game.location %}
            <div class="location">
                {{ game.location }}
            </div>
        {% endif %}
    </div>

</div>
{% endmacro %}