{% from 'components/round.html' import round %}
{% from 'components/rounds-slider.html' import draw_rounds_slider %}

{% macro draw_rounds(rounds, permissions, tournament, predictions) %}
    
    {% set data = {
        "rounds": rounds,
        "permissions": permissions,
        "tournament": tournament,
        "predictions": predictions
    } %}

    {{ draw_rounds_slider(data) }}
    {% for round_var in data.rounds %}
        {{ round(
            round_var.games,
            round_var.name,
            round_var.id,
            data
        ) }}
    {% endfor %}
{% endmacro %}

