
{% macro draw_rounds_slider(rounds, permissions) %}
    <div class="slider-tabs">
        <div class="slider-tabs-list">
            {% for round in rounds %}
                <a
                    href="#roundId-{{ round.id }}"
                    class="btn {% if loop.first %}btn-primary{% else %}btn-secondary{% endif %}"
                >
                    {{ round.name }}
                </a>
            {% endfor %}
            {% if 'tournament.create_rounds' in permissions['tournaments'].get(tournament.id|string, []) %}

                <a
                    href="{{ url_for('makeRound', id=tournament.id) }}"
                    class="btn btn-primary"
                >
                    Make round
                </a>

            {% endif %}
        </div>
    </div>
{% endmacro %}