{% from 'components/game-card.html' import game_card %}
{% macro round(games, name, id, permissions, tournament) %}
    <div class="section section-round" id="roundId-{{ id }}">
        <h1>{{ name }}</h1>
        <div class="round">
        {% for game in games %}
            {{ game_card(game, permissions, tournament) }}
        {% endfor %}
        </div>

    </div>

    <a href="{{ url_for('makeGame', roundId = id ) }}">make game</a>
    <form method="POST" action="{{ url_for('delete_round', round_id = id ) }}" onsubmit="return confirm('Weet je zeker dat je deze ronde wilt verwijderen? Alle games in deze ronde worden ook verwijderd.');" style="display: inline;">

        <button type="submit" class="btn btn-danger">
            Delete round
        </button>

    </form>
{% endmacro %}